{% extends 'base.html' %}
{% block styles %}
  {{ super() }}
  <style>
    .article_words {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 34px;
    }

    p a {
      font-size: 18px;
    }
  </style>
{% endblock %}
{% block page_content %}
  <h3 style="margin-bottom: 24px">{{ chapter["title"] }}</h3>
  {% for i in chapter["content"] | article %}
    <p class="article_words">　　{{ i }}</p>
  {% endfor %}
{% endblock %}

{% block footer %}
  <div style="margin: 50px 0;">
    {% if prev %}
      <p><a href="{{ index - 1 }}">上一章：{{ prev.title }}</a></p>
    {% endif %}
    {% if next %}
      <p><a href="{{ index + 1 }}">下一章：{{ next.title }}</a></p>
    {% endif %}
  </div>
{% endblock %}

{% block back_title %}<a class="navbar-brand" href="/{{ chapter["book_url"] }}">{{ chapter["book"] }}</a>{% endblock %}


