{% extends 'bootstrap/base.html' %}

{% block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    a:hover {
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    .bg-blue {
      background-color: #698AAB;
    }

    .bg-green {
      background-color: #82AE46;
    }

    .bg-yellow {
      background-color: #F6AD49;
    }

    .navbar {
      background-color: white;
      border-top-width: 0;
      border-bottom-width: 1px;
    }

    hr {
      display: block;
      height: 0px;
      border: 0;
      border-top: 1px solid #EAEAEA;
      margin: 0;
      padding: 0;
    }

    .card-title {
      margin-bottom: 2px;
      font-size: 20px;
      font-weight: 500;
      color: #4a4a4a;
    }

    .card-subtitle {
      font-size: 16px;
      color: #9B9B9B;
      margin-bottom: 2px;
    }

    .card-detail {
      font-size: 14px;
      color: #4a4a4a;
      margin-bottom: 0;
    }

  </style>
{% endblock %}
{% block title %}InfiniteX Fic.{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      {% block back_title %}<a class="navbar-brand" href="/">InfiniteX</a>{% endblock %}
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% block page_content %}{% endblock %}
    {% block footer %}{% endblock %}
  </div>
{% endblock %}
