{% extends 'base.html' %}

{% block content %}
  <div>
    <div class="header-container" id="myHeader">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span>{{ pages[cur_page - 1] }}</span>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                style="font-size: 70%; margin-left: 6px"></span>
        </a>
        <ul class="dropdown-menu">
          {% for page in pages %}
            <li>
              <a href="?page={{ loop.index }}&sort={{ "asc" if change_sort_type == "desc" else "desc" }}">{{ page }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="right-container">
        <span style="font-size: 14px; color: #9B9B9B; margin-right: 16px">共 {{ chapters_count }} 章</span>
        <a href="?sort={{ change_sort_type }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"
              style="color: #6a6a6a; margin-right: 3px; font-size: 12px;"></span>
          <span style="font-size: 14px; color: #4a4a4a;">{{ "逆序" if change_sort_type == "desc" else "顺序" }}</span>
        </a>
      </div>
    </div>
    <div class="list-container">
      {% for item in chapters %}
        <a class="list-item" href="{{ book["url"] }}/articles/{{ item["index"] }}">
          <p class="item-title">{{ item["title"] }}</p>
          <div class="right-container">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"
                  style="color: #dddddd; font-weight: lighter"></span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {{ super() }}
  <div>
    <div class="book-container">
      <img class="image-container" src="{{ book['img_src'] }}"/>
      <div style="display: flex; justify-content: space-between; flex-direction: column">
        <div>
          <p class="book-title">{{ book["title"] }}</p>
          <p class="book-subtitle">{{ book["author"] }} 著</p>
        </div>
        <div>
          <p style="margin-bottom: 2px"><b>最近更新：</b>
            <a class="book-info" href="{{ book["url"] }}/articles/{{ chapters_count }}">{{ book["info"] }}
            </a></p>
          {% if last_read %}
            <p style="margin-bottom: 2px"><b>上次读到：</b>
              <a class="book-info"
                 href="{{ book["url"] }}/articles/{{ last_read["index"] }}">{{ last_read["title"] }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div style="margin: 16px; padding-left: 4px">
      <a href="rss/{{ book.url }}.atom"><button type="button" style="margin-right: 4px" class="btn btn-sm bg-green">
        <span style="color: white;">获取RSS源</span>
      </button></a>
      <button type="button" style="margin-right: 4px" class="btn btn-sm bg-yellow">
        <span style="color: white;">请求更新</span>
      </button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
      const header = document.getElementById("myHeader");
      const sticky = header.offsetTop;
      window.onscroll = function () {
          if (window.pageYOffset > sticky) {
              header.classList.add("sticky");
          } else {
              header.classList.remove("sticky");
          }
      };

  </script>
{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    .header-container {
      height: 36px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 7px;
      display: flex;
      align-items: center;
      border-top: 0.75px solid #DDDDDD;
      background-color: white;
    }

    .glyphicon {
      position: unset;
    }

    .list-item {
      height: 36px;
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      padding: 0 20px;
    }

    .item-title {
      font-size: 14px;
      color: #4A4A4A;
      margin-bottom: 0;
    }

    .right-container {
      display: flex;
      height: 100%;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      border-bottom: 0.75px solid #DDDDDD;
    }

    .sticky + .list-container {
      padding-top: 36px;
    }

    a {
      text-decoration: none;
    }

    .list-container a:hover {
      background-color: #eeeeee;
    }

    b {
      color: #4a4a4a;
      margin-bottom: 0;
    }

    .image-container {
      min-height: 139px;
      max-height: 139px;
      min-width: 100px;
      max-width: 100px;
      margin-right: 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    .book-container {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
    }

    .book-title {
      font-size: 26px;
      color: #4a4a4a;
      font-weight: 500;
      margin-bottom: 0;
    }

    .book-subtitle {
      font-size: 18px;
      color: #9b9b9b;
      margin-bottom: 8px;
    }

    .book-info {
      font-size: 14px;
      color: #428bca;
      margin-bottom: 0;
    }

    .dropdown > a {
      font-size: 14px;
      color: #4a4a4a;
      font-weight: 500;
    }

    .dropdown ul.dropdown-menu {
      box-shadow: none;
    }

  </style>
{% endblock %}

