{% extends 'base.html' %}

{% block content %}
  <div>
    <div class="header-container">
      <span style="font-size: 14px; color: #9B9B9B;">共 {{ max_page }} 章</span>
      <a class="right-container" href="?sort=desc">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"
              style="color: #dddddd; margin-right: 6px; font-size: 12px"></span>
        <span style="font-size: 14px; color: #9B9B9B;">逆序</span>
      </a>
    </div>
    {% for item in chapters %}
      <a href="{{ book_url }}/articles/{{ item["index"] }}">
        <div class="list-item">
          <p class="item-title">{{ item["title"] }}</p>
          <div class="right-container">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
                  style="color: #dddddd;-webkit-text-stroke: 1.5px white;"></span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block menuitem %}
  <li><a href="/?page={{ page }}&sort=desc">逆序</a></li>
{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .header-container {
      height: 36px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 7px;
      display: flex;
      align-items: center;
      border-top: 0.75px solid #DDDDDD;
    }

    .list-item {
      height: 36px;
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      padding: 0 20px;
    }

    .item-title {
      font-size: 14px;
      color: #4A4A4A;
      margin-bottom: 0;
    }

    .right-container {
      display: flex;
      height: 100%;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    a {
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block navbar %}


{% endblock %}