{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <style>
    .invisible {
      display: none;
    }

    .image-container {
      height: 100%;
      min-width: 100px;
      max-width: 100px;
      margin-right: 26px;
      background-color: black;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 2px 6px 0px rgba(225, 225, 225, 0.5);
      -moz-box-shadow: 0px 2px 6px 0px rgba(225, 225, 225, 0.5);
      box-shadow: 0px 2px 6px 0px rgba(225, 225, 225, 0.5);
    }

    .book-container {
      padding-top: 15px;
      padding-bottom: 15px;
      height: 165px;
      display: flex;
    }

    #custom-search-input {
      padding: 3px;
      border: solid 1px #E4E4E4;
      border-radius: 6px;
      background-color: #fff;
      margin-top: 12px;
      margin-bottom: 8px;
    }

    #custom-search-input input {
      border: 0;
      box-shadow: none;
    }

    #custom-search-input button {
      margin: 2px 0 0 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #aaaaaa;
      padding: 0 8px 0 10px;
      border-left: solid 1px #ccc;
    }

    #custom-search-input button:hover {
      border: 0;
      box-shadow: none;
      border-left: solid 1px #ccc;
    }

    #custom-search-input .glyphicon-search {
      font-size: 23px;
    }

    a:hover {
      background-color: #eeeeee;
    }
  </style>
{% endblock %}
{% block navbar %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>InfiniteX</h2>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" id="search-input" placeholder="搜索"/>
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button" onclick="book_filter()">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="container">
    {% for book in books %}
      <a class="book-container" href="{{ book['url'] }}">
        <img class="image-container" src="{{ book['img_src'] }}"/>
        <div style="display: flex; flex-direction: column">
          <p class="card-title">{{ book['title'] }}</p>
          <p class="card-subtitle">{{ book['author'] }}</p>
          <div style="flex: 1; display: flex; justify-content: flex-end; flex-direction: column">
            <p class="card-detail"><b>最近更新：</b><span class="update-time">{{ book['update_time'] }}</span></p>
            <p class="card-detail">{{ book['info'] }}</p>
          </div>
        </div>
      </a>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/zh-cn.js"></script>

  <script>
      var times = document.getElementsByClassName("update-time")
      for (var i of times) {
          i.innerHTML = moment(Number(i.innerHTML) * 1000).fromNow()
      }
  </script>
{% endblock %}
